* {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    min-height: 100vh;
}

.medio-body {
    background-color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.main-splash-page {
    background-color: #FFC017;
    display: block;
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}

.splash {
    display: block;
    overflow: hidden;
    position: relative;
}

.m-container {
    display: block;
    right: 0px;
    width: 585px;
    position: absolute;
    padding-top: 15px;
}

.medium__Ms {
    width: 100%;
    height: 100%;
}

.content-container {
    display: flex;
    justify-content: center;
}

.header-container {
    margin: 0 64px;
    min-width: 0;
    max-width: 1192px;
    width: 100%;
}

.header-inner-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header {
    display: flex;
    width: 550px;
    z-index: 2;
    flex-direction: column;
    height: 100%;
    padding-top: 93px;
    padding-bottom: 92px;
}

.header-title {
    display: block;
    margin-bottom: 35px;
}

.title {
    margin: 0;
    letter-spacing: -0.05em;
    line-height: 95px;
    font-size: 106px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    color: rgba(8, 8, 8, 1);
}

.tag-line-container {
    display: block;
    width: 80%;
    margin-bottom: 50px;
}

.header__text {
    font-family: "sohne", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    color: rgba(41, 41, 41, 1)
}

.start__reading {
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 99em;
    border-color: rgba(25, 25, 25, 1);
    width: 213px;
    padding: 7px 20px 9px;
    line-height: 24px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
    background: rgba(25, 25, 25, 1);
    cursor: pointer;
}

.screenshot {
    width: 18px;
    height: 18px;
    float: right;
    padding: 3px;
}


/*  sidebar CSS */
.sideBar {
    height: 100%;
    /* width: 70px;
    border-right: .3px solid rgb(227, 226, 226);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50; */
}

.sidebar {
    display: block;
}

.sidebar-items {
    z-index: 500;
    justify-content: space-between;
    position: sticky;
    height: 100vh;
    flex-direction: column;
    display: flex;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
}

.medio-home-link {
    padding: 40px 0;
    text-align: center;
}

.home-logo {
    width: 40px;
    margin-left: 0%;
    margin-top: 30%;
}

.user-buttons {
    display: block;
}

.icon {
    padding-bottom: 35px;
}

.user-button-link {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    border: inherit;
    font-size: inherit;
    color: inherit;
    fill: inherit;
    text-decoration: none;
}

.button-container {
    position: relative;
    display: flex;
}

.button-holder {
    display: flex;
    color: rgba(41, 41, 41, 1);
    fill: rgba(41, 41, 41, 1);
    padding-left: 28px;
}

.inner-button-container {
    margin-right: 28px;
    display: block;
}

.button-icon {
    display: inline-block;
}

.user-menu {
    padding-bottom: 16px;
    display: block;
}


/* #icon2 {
    width: 35px;
    margin-top: 175px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

#icon3 {
    width: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-top: 25px;
}

#icon4 {
    width: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-top: 25px;
}

#icon5 {
    width: 30px;
    font-size: 20px;
    margin-top: 300px;
    background-color: white;
    border-style: none;
    cursor: pointer;
} */

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: absolute;
    top: 1%;
    left: 0;
    margin-right: 30%;
    width: 200px;
    height: 300px;
    z-index: 100;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.dropdown-text {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    gap: 25px;
    margin-top: 15%;
}


/*  splash page M's CSS */
#m5 {
    animation-name: myAnimation;
    animation-delay: 1.7s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m6 {
    animation-name: myAnimation;
    animation-delay: 2s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m12 {
    animation-name: myAnimation;
    animation-delay: .6s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m31 {
    animation-name: myAnimation;
    animation-delay: .8s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m25 {
    animation-name: myAnimation;
    animation-delay: 1.4s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m27 {
    animation-name: myAnimation;
    animation-delay: 2.2s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m42 {
    animation-name: myAnimation;
    animation-delay: 2s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m43 {
    animation-name: myAnimation;
    animation-delay: 1.2s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m44 {
    animation-name: myAnimation;
    animation-delay: .4s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m47 {
    animation-name: myAnimation;
    animation-delay: .9s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m52 {
    animation-name: myAnimation;
    animation-delay: .7s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m59 {
    animation-name: myAnimation;
    animation-delay: .1s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m63 {
    animation-name: myAnimation;
    animation-delay: .4s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m69 {
    animation-name: myAnimation;
    animation-delay: .3s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m73 {
    animation-name: myAnimation;
    animation-delay: .3s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m74 {
    animation-name: myAnimation;
    animation-delay: .7s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m84 {
    animation-name: myAnimation;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#m93 {
    animation-name: myAnimation;
    animation-delay: .3s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#m96 {
    animation-name: myAnimation;
    animation-delay: .1s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes myAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}