.centerCol {
    align-items: center;
}

.centerRow {
    justify-content: center;
}

.flexCol {
    display: flex;
    flex-direction: column
}

.flexRow {
    display: flex;
    flex-direction: row
}

.flexEnd {
    justify-content: flex-end;
}

.heightFitContent {
    overflow: visible
}

.noResize {
    resize: none;
}

.width700 {
    width: 700px;
}

.width1000 {
    width: 1000px;
}

.fontSize42 {
    font-size: 42px;
}

.fontSize21 {
    font-size: 21px;
}

.profileImage {
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.titlePadding {
    padding-top: 20px;
    padding-bottom: 20px;
}
