.centerCol {
    align-items: center;
}

.centerRow {
    justify-content: center;
}

.startCol {
    align-items: flex-start;
}

.spread {
    justify-content: space-between;
}

.pagePadding {
    padding-left: 150px;
    padding-top: 50px;
}

.flexCol {
    display: flex;
    flex-direction: column;
    position: relative;
}

.flexRow {
    display: flex;
    flex-direction: row
}

.flexEnd {
    justify-content: flex-end;
}

.heightFitContent {
    overflow: visible
}

.noResize {
    resize: none;
}

.width700 {
    width: 700px;
}

.width500 {
    width: 500px;
}

.width200 {
    width: 200px;
}

.width1000 {
    width: 1000px;
}

.widthFit {
    width: fit-content
}

.fontSize42 {
    font-size: 42px;
}

.fontSize21 {
    font-size: 21px;
}


.comments-icon {
    margin-top: 90%;
}

.comments-icon:hover {
    cursor: pointer;
}

.comments-sidebar {
    height: 100%;
    top: 0;
    right: 0;
    width: 23%;
    position: fixed;
    padding-left: 5%;
    margin-left: 30%;
    z-index: 100;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    z-index: 50;
    overflow-y: scroll;
    padding-left: 2%;
}

.comments-headline {
    display: flex;
    align-items: center;
}


.textarea-comments {
    width: 350px;
    height: 150px;
    z-index: 150;
    margin-bottom: 25px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.14);
}

#form1 > label > textarea[type=text] {
    border: none;
    width: 350px;
    height: 100px;
    resize: none;
}

#form1 > button {
    margin-left: 75%;
    border-radius: 33px;
    width: 70px;
    height: 30px;
    border: none;
    background-color: rgb(29, 159, 29);
    color: white;
}

#form1 > button:hover {
    background-color: green;
    cursor: pointer;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.comment-box {
    height: 150px;
    overflow-wrap: break-word;
    margin-right: 8%;
}

.divider-comments {
    margin-top: 50px;
    margin-bottom: 10px;
    border-color: rgb(232, 232, 232);
    opacity: .6;
}

.item-header {
    display: flex;
    margin-top: 5%;
}


.comment-body {
    margin-left: 2%
}

.titlePadding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.noBullets {
    list-style: none;
}

.fixed {
    position: fixed;
}

.writeStory {
    background-color: green;
    width: 110px;
    height: 35px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.bottomBorder {
    border-bottom: solid 2px grey;
}

.cursorPointer {
    cursor: pointer;
}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}


.signIn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-size: 14px;
    cursor: pointer;
}

.signUpMargin {
    margin-bottom: 5px;
    margin-top: 5px;
}

.signUpButton {
    border-color: black;
    background-color: black;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}
