 .flexCol{
    height: 100%;
    display: flex;
    justify-content: center;
    max-width:700px;
    /* align-items: center; */
}


.flexRow{
    display:flex;
    justify-content: center;
}

.centerCol{
    width:700px;
}

.width700{
    width: 700px;
}