/* .modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    padding: 0px 24px;
    border-bottom: 1px solid rgb(235, 235, 235);
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    box-sizing: border-box;
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
    display: block;
    position: relative;
    width: 100%;
    min-height: 250px;
    max-height: 700px;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
} */


#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: white;
    border-radius: 20px;
}
